.address__title {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.address__description {
  line-height: 20px;
  color: $primary-text-color;
}
