.checkbox-fields__legend {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $title-color;
}

.checkbox-fields__label {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  color: $primary-text-color;
  text-decoration: uppercase;
}

@media (min-width: $desktop-width) {
  .checkbox-fields__list {
    display: flex;
  }
}
