.contact-fields__legend {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 26px;
  color: $title-color;
}

.contact-fields__label {
  font-family: $secondary-font;
  font-size: 16px;
  color: $primary-text-color;
  text-transform: uppercase;
}

@media (min-width: $desktop-width) {
  .contact-fields__list {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .contact-fields__item:first-child {
    margin-right: 81px;
  }
}

