.social__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social__link--vkontakte {
  display: block;
  width: 27px;
  height: 17px;
  background-image: url("../../images/icons/vkontakte-icon.svg");
  background-repeat: no-repeat;
}

.social__link--youtube {
  display: block;
  width: 24px;
  height: 19px;
  background-image: url("../../images/icons/youtube-icon.svg");
  background-repeat: no-repeat;
}

.social__link--telegram {
  display: block;
  width: 20px;
  height: 17px;
  background-image: url("../../images/icons/telegram-icon.svg");
  background-repeat: no-repeat;
}


.social__item:not(:last-child) {
  margin-right: 24px;
}

