.header {
  background-color: #663399;
  color: #ffffff;
  padding: 10px 15px;
}

.main-welcome {
  // background-color: #fff;
   background-image: url("../images/backgrounds/index-background-mobile@2x@1x.jpg");
   background-repeat: no-repeat;
   background-size: cover;
  //  background-size: 100% auto;



 }
