.main-welcome {
  position: relative;
  width: 320px;
  height: 302px;
  background-image: url("../../images/backgrounds/index-background-mobile@2x@1x.jpg");
  background-repeat: no-repeat;
}

.rectangle {
  position: absolute;
  top: -1px;
  width: 320px;
  height: 304px;
  background-image: url("../../images/backgrounds/index-green-rectangle@2x@2x.png");
  background-repeat: no-repeat;
  z-index: 2;
}

.main-container__image {
  position: absolute;
  z-index: 3;
}

.main-welcome__title {
  text-align: center;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $secondary-color;
  // background-color: $decoration-color;
}

.main-welcome__slogan {
  font-family: $secondary-color;
  line-height: 14px;
  color: $secondary-color;
  text-transform: uppercase;
}

.main-welcome__button a {
  color: $secondary-color;
  text-decoration: none;
}
