.main-welcome {
  background-color: #fff;
   background-image: url("/source/images/backgrounds/index-background-mobile@2x@1x.jpg");
   background-repeat: no-repeat;
  //  background-size: 100% auto;
  background-color: red;


 }
