// .nutrition__wrapper {
//   margin: 0 auto;
// }

@media (min-width: $tablet-width) {
  .nutrition__list {
    display: grid;
    grid-template-columns: 230px 230px;
    grid-template-rows: 280px 280px;
    column-gap: 153px;
    row-gap: 37px;
  }
}

@media (min-width: $desktop-width) {
  .nutrition__list {
    grid-template-columns: 230px 230px 230px 230px;
    grid-template-rows: 280px;
  }
}

.nutrition__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $title-color;
}

.nutrition__description {
  color: $primary-text-color;
  padding-left: 100px;
}

.nutrition__item {
  margin-bottom: 26px;
}

.nutrition__item--leaf {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../images/icons/leaf-icon.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .nutrition__item--leaf {
    width: 80px;
    height: 80px;
  }
}

.nutrition__item--pounder {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../images/icons/pounder-icon.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .nutrition__item--pounder {
    width: 80px;
    height: 80px;
  }
}

.nutrition__item--tableware {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../images/icons/tableware-icon.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .nutrition__item--tableware {
    width: 80px;
    height: 80px;
  }
}

.nutrition__item--watch {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../images/icons/watch-icon.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .nutrition__item--watch {
    width: 80px;
    height: 80px;
  }
}
